@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-family: "Lexend Deca", sans-serif;
}

html {
    height: 100%
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(233, 47%, 7%);
}

.main {    
    padding: 1.5rem;
}

.card {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: .5rem;
}

.main-textarea {
    padding: 5%;
}

.main-textarea h1 {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.main-textarea h1 span{
    color: hsl(277, 64%, 61%);
}

.main-textarea p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    margin-bottom: -20px;
}

.main-textarea .stats .stat-heading{
    flex: 1;
}

.main-textarea .stats .stat-heading h3{
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-textarea .stats .stat-heading p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.picture {
    position: relative;
    background: url(images/image-header-desktop.jpg) no-repeat center center;
    background-size: cover;
    align-self: stretch;
    width: 100%;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 5%;
}

.layer {
    background-color: hsla(277, 82%, 35%, 0.39);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
}

@media (max-width: 425px) {
    html {
        height: inherit;
    }
    
    .main {
      margin-top: 50px;
    }
  
    .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .main-textarea {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10%;
    }
  
    .main-textarea .stats {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .main-textarea .stats .stat-heading{
      flex: 0;
    }
  
    .main-textarea .stats .stat-heading h3{
      margin-bottom: 0px;
      font-size: 1.4em;
    }
  
    .picture {
      order: -1;
      border-radius: 10px 10px 0 0;
      height: 273px;
      background-size: cover;
    }
  }